{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>JavaScript</title>
	<style type="text/css">
		form{
			margin-left: 430px;
			margin-right: 430px;
			background-color:blue;
			border-radius: 23px;

		}
		input{
			margin-top: 9px;
			margin-bottom: 23px;

		}
		button{

		/*	float: right;*/
			color: green;
			border-radius: 12px;
		}
	</style>

	<!-- <script type="text/javascript">
		alert('Hi Welcome')
	</script> -->
	<script type="text/javascript" src="{% static 'js/sample.js' %}"></script>
</head>
<body>
	<h2>Javascript Files</h2>
	<form>
		<input type="text" name="n" placeholder="Enter Your Name" id = "n1"><br>
		<input type="text" name="a" placeholder="Enter Your Age" id = "n2"><br>
		<!-- <button type="submit">Submit</button> -->
		<input type="submit" value="Submit" onclick="ad">
	</form>
	<script type="text/javascript">
		function ad()
		{
			var t = document.getElementById('n1').value
			alert(t)
		}

	</script>
</body>
</html>