<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crud operations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container card card-body col=md-4 mt-3">
		
		<h1 class="alert alert-info">Add student</h1>
		<form action="#"  method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="rollno">RollNo</label>
				<input type="text" name="rollno" placeholder="Enter rollno" class="form-control" id="rollno">
				<label for="name">Name</label>
				<input type="text" name="name" placeholder="Enter name" class="form-control" id="name">
				<label for="age">Age</label>
				<input type="text" name="age" placeholder="Enter age" class="form-control" id="age">
				<label for="gender">Gender</label>
				<input type="radio" name="gender" value="Male">Male
				<input type="radio" name="gender" value="Female">Female
				<br/>
				<label for="branch">Branch</label>
				<select name="branch" id="branch" class="custom-select">
					<option>Choose..</option>
					<option value="CSE">CSE</option>
					<option value="ECE">ECE</option>
					<option value="EEE">EEE</option>
				</select>
				<br/>
				<label for="Languages">Languages</label>
				<br>
				<input type="checkbox" name="language" value="Telugu">Telugu
				<input type="checkbox" name="language" value="Hindi">Hindi
				<input type="checkbox" name="language" value="English">English
				<br/>
				<label for="mobileno">MobileNo</label>
				<input type="text" name="mobile" placeholder="Enter mobileno" class="form-control" id="mobile">
				<label for="email">Email</label>
				<input type="text" name="email" placeholder="Enter email" class="form-control" id="email">
				<label for="address">Address</label>
				<input type="text" name="address" placeholder="Enter address" class="form-control" id="address">
			</div>
			<input type="submit" name="" value="Add" class="btn btn-outline-danger btn-lg">
			
		</form>
	</div>
</body>
</html>