<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- <h1 class="mx-5 my-4 bg-success text-white text-center p-2 border rounded">Demo</h1>
<div class="container">
	<div class="row">
		<div class="jumbotron col mr-2">
			<h4>sample</h4>
		</div>
		<div class="jumbotron col ml-2">
			<h4>sample1</h4>
		</div>
	</div>

	<div class="row">
		<div class="jumbotron col mr-2">
			<h4>sample2</h4>
		</div>
		<div class="jumbotron col mx-2">
			<h4>sample3</h4>
		</div>
		<div class="jumbotron col ml-2">
			<h4>sample4</h4>
		</div>
	</div>
</div> -->
<div class="container">
	<div class="row">
		<div class="jumbotron col mr-2 mt-3 shadow-lg">
			<h3 class="bg-success text-white text-center border rounded">Login</h3>
			<div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="card col ml-2 mt-3 shadow-lg">
			<h3 class="bg-success text-white text-center mt-5 border rounded">Registration</h3>
		</div>
	</div>
</div>
</body>
</html>