{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<!-- <h1 class="mx-5 my-4 bg-success text-white text-center p-2 border rounded">Demo</h1>
<div class="container">
	<div class="row">
		<div class="jumbotron col mr-2">
			<h4>sample</h4>
		</div>
		<div class="jumbotron col ml-2">
			<h4>sample1</h4>
		</div>
	</div>

	<div class="row">
		<div class="jumbotron col mr-2">
			<h4>sample2</h4>
		</div>
		<div class="jumbotron col mx-2">
			<h4>sample3</h4>
		</div>
		<div class="jumbotron col ml-2">
			<h4>sample4</h4>
		</div>
	</div>
</div> -->
<form method="post">
  {% csrf_token %}
<div class="container">
	<div class="row">
		<div class="jumbotron col mr-2 mt-3 shadow-lg">
			<h3 class="bg-success text-white text-center border rounded">Login</h3>
			<div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="card col ml-2 mt-3 shadow-lg">
			<h3 class="bg-success text-white text-center mt-5 border rounded">Registration</h3>
			<div class="form-group">
      <label for="usr">First Name:</label>
      <input type="text" class="form-control" id="firstname" name="firstname">
    </div>
    <div class="form-group">
      <label for="usr">Last Name:</label>
      <input type="text" class="form-control" id="lastname" name="lastname">
    </div>
    <div class="form-group">
      <label for="usr">Email:</label>
      <input type="text" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="usr">Mobil No:</label>
      <input type="text" class="form-control" id="mobile" name="mobile">
    </div>
    <div class="form-group">
      <label for="usr">User Name:</label>
      <input type="text" class="form-control" id="usr" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password">
    </div>
    <h4>Techinical Skills</h4>
     <div class="form-check">
      <label class="form-check-label" for="check2">
        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Java
      </label>
    </div>

 <div class="form-check">
      <label class="form-check-label" for="check2">
        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Android
      </label>
    </div>
 <div class="form-check">
      <label class="form-check-label" for="check2">
        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Python
      </label>
    </div>
    <h4>Gender</h4>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio">Male
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio">Female
  </label>
</div>
<div class="form-group">
  <label for="sel1">Select Branch:</label>
  <select class="form-control" id="sel1">
    <option>CSE</option>
    <option>ECE</option>
    <option>EEE</option>
    <option>CIVIL</option>
  </select>
</div>
<div class="form-group">
  <label for="comment">Address:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>

<div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <br/>

    <button type="submit" class="btn btn-primary">Submit</button>
		</div>

	</div>

</div>
</form>
</body>
</html>